<div class="row">
    <div class="col">
        <h1 class="mt-2">Recipes</h1>

        <button class="btn btn-primary float-end w-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Recipe</button>
    </div>
</div>

<!-- Setup drawer enabled form to keep everything in one page -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <form action="/recipes" accept-charset="UTF-8" method="post">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Add a Recipe</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <input name="recipe[name]" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Recipe Name">

            <textarea class="form-control mb-3" name="recipe[description]" id="exampleFormControlTextarea1" rows="10" placeholder="Description..."></textarea>
        </div>

        <div class="offcanvas-footer py-2 px-3">
            <button class="btn btn-light float-start w-auto" type="button">Cancel</button>

            <button class="btn btn-success float-end w-auto" type="submit">Save</button>
        </div>
    </form>
</div>

<ul class="list-unstyled">
    <% @recipes.each do |recipe| %>
        <a class="text-dark" href="/recipes/<%= recipe.id %>">
            <li class="border border-black m-1 p-2 w-25 float-start">
                <h4 class="mb-1">
                    <%= recipe.name %>
                </h4>
                <p class="mb-0">
                    <%= recipe.description %>
                </p>
            </li>
        </a>
    <% end %>
</ul>
